{% comment %}
This template adds an image to page. It should be used together with images:build npm script
@param dir - directory in imagesPath
@param filename - image filename with extension
@param title - optional title that will be added as figcaption
{% endcomment %}
{% capture dirFullPath %}{{ site.imagesPath }}{{ include.dir | url_escape }}{% endcapture %}
{% capture originalImage %}{{ dirFullPath }}/{{ include.filename | url_escape }}{% endcapture %}
{% capture smallImage %}{{ originalImage | replace: '.jpg', '_small.jpg' | replace: '.jpeg', '_small.jpeg' | replace: '.png', '_small.png' | replace: '.gif', '_small.gif' }}{% endcapture %}
{% capture smallRetinaImage %}{{ smallImage | replace: '_small.', '_small@2x.' }}{% endcapture %}
<figure>
    <a i-nakedLink href="{{ originalImage }}">
        <img
            src="{{ smallImage }}"
            srcset="{{ smallImage }} 1x, {{ smallRetinaImage }} 2x"
            alt="{{ include.filename }}"
        >
    </a>
    {% if include.title %}<figcaption>{{ include.title }}</figcaption>{% endif %}
</figure>
